/* Global Properties */
html {
    scroll-behavior: smooth;
}

body {
    background: rgb(0, 0, 0);
    font-family: "Baloo tamma 2" cursive;
}

/* Main Heading Font */
.m-heading {
    font-family: "Roboto Slab", serif;
}

/* Navigation */
.navigation-link {
    border: 2px solid transparent;
}

.navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid rgb(255, 162, 0);
    transition: 0.5s ease;
}