body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffbb00;
    color: #ffffff;
}

h1 {
    color: #edf0f3;
}

/* Attribute Selector */
a {
    color: #915200;
    text-decoration: none;
}

a:hover {
    color: #1f6feb
}

/*Child selector*/
ul > li {
    font-weight: bold;
}

/* Sibiling Selector*/
h1, p {
    background-color: rgb(133, 91, 0);
    padding: 10px;
    border-radius: 5px;
}

/* :hover Pseudo-class */
ul li:hover {
    color:rgb(251, 255, 0)
}

/* ::before Pseudo-element*/
ul li::before {
    content: "⟐ " ; 
}

/* ::after Pseudo-element */
a::after {
    content: " ▶" ;
}

/* ::first letter psuedo element */
p::first-letter {
    font-size: 40px;
    color: rgb(255, 255, 255);
}